#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Firefox HTTP handle
NotShowIn=X-MeeGo;
MimeType=text/html;x-maemo-urischeme/http;x-maemo-urischeme/https;
Exec=/opt/alien/system/bin/adb -e shell am start -a android.intent.action.VIEW -n org.mozilla.firefox/org.mozilla.gecko.BrowserApp -d ' %U'
NoDisplay=true
